In [21]:
import pandas as pd
import numpy as np

<h3>Pandas has a named index instead of numeric index as numpy</h3>

<h2>Pandas Series</h2>

this provides a pandas series, where the index is numerical as only the data was given.
To clarify the index we can pass index=(index labels)

In [22]:
myindex = ['USA','Canada','Mexico']
mydata = [1776,1867,1821]
myser = pd.Series(data=mydata,index=myindex) #it's a pandas series
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

can now grab information almost as if it was a dictionary

In [23]:
myser[0] #searching for things numerically can be more confusing, this is why index is better
myser['USA'] #both return the same

C:\Users\dagui\AppData\Local\Temp\ipykernel_23364\1822239644.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0] #searching for things numerically can be more confusing, this is why index is better

1776

can pass dictionary to include both index and value dic = {index1:value1,index2:value2}

In [24]:
ages = {'Sam':5,'Frank':10,'Spike':7}
pd.Series(ages) #Makes the keys as the index, and the values as the data

Sam       5
Frank    10
Spike     7
dtype: int64

In [25]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':100,'USA':260}
#imaginery data

In [26]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [27]:
sales_q1.keys() #returns keys

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

since Pandas is built on Numpy we can broadcast (i.e sales_q1 * 2)
on a normal Python list [1,2] * 2 gets turn into [1,2][1,2]
but on numpy/pandas it turns into [2,4]

In [28]:
sales_q1 + sales_q2 #when doing this, if a key its not in both panda series, it replaces the value with NaN

Brazil      NaN
China     950.0
India     300.0
Japan       NaN
USA       510.0
dtype: float64

<h3>Fill Value</h3>

Since we clarify that fill_value is 0, for whenever there is no value
we can get the normal values now, since before on q1 we had Japan but on q2 we didn't
so it was trying to do Japan's value + NaN = NaN.

Since we did fill_value, it is trying to do Japan's value + 0 = Japan's value

That is why we can see the values now

In [29]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     300.0
Japan      80.0
USA       510.0
dtype: float64

<h2>Pandas DataFrame</h2>

DataFrames is a table of columns and rows in pandas that can easily restructure and filter.

A group of Pandas Series objects that can share the same index

In [31]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [33]:
myindex = ['CA','NY','AZ','TX']
mycolumns = ['Jan','Feb','Mar']

df = pd.DataFrame(index=myindex,columns=mycolumns,data=mydata)
df